:root {
  --primary-text-color: #404040;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-grey-color: rgba(64, 64, 64, 0.3);
  --dark-grey-color: #646565;
  --grey-color: #999999;
  --footer-grey: #989898;
  --blue-color: #2468ff;
  --persian-green-color: #00b68c;
  --footer-background-color: #161f49;
  --grey97-color: #f7f7f7;
  --black-pearl-color: #070e16;
  --semi-black-color: rgba(00, 00, 00, 0.5);
  
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--primary-text-color);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
  display: inline-block;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-family: inherit;
  padding-top: 17px;
  padding-bottom: 21px;
  padding-right: 70px;
  padding-left: 71px;
  border: none;
  text-transform: uppercase;
}
.title {
  font-weight: 400;
  font-size: 50px;
  line-height: calc(60 / 50);
  text-align: center;
}
/* header sectoin */
.additional-wrap {
  text-align: center;
  background-color: var(--footer-background-color);
}
.header-info {
  color: var(--white-color);
}
.header-item-link {
  line-height: calc(25px / 18);
  letter-spacing: 0.10998px;
  color: inherit;
}
.header-button {
  display: inline-block;
  text-align: center;
  padding: 27px 64px;
  border: none;
}
/* Hero section */
.hero-title {
  font-size: 72px;
  font-weight: 400;
  line-height: 1.11;
  color: var(--white-color);
}
.hero-text {
  font-size: 21px;
  line-height: 1.38;
  color: var(--white-color);
}
.btn.primary {
  padding: 16px 37px 21px 37px;
  font-size: 14px;
  line-height: 0.96;
  letter-spacing: 0.11px;
  background-color: transparent;
  border: 1px solid var(--white-color);
}

/* Find */
.find-text {
  line-height: 1.15;
}
.find-link {
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.find-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}
.find-subtitle {
  line-height: 1.4;
}
.btn.secondary {
  padding: 17px 37px 21px 37px;
  font-size: 14px;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  border: none;
}

/**
  |============================
  | Wifi-control-function
  |============================
*/

.wfunctional-section {
  background: url(./images/wifi-background.png);
  border-radius: 0px;
}

.wfunction-list {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
}

.wfunction-item {
  padding: 168px 31px 57px 31px;
}

.wfunction-title {
  font-family: inherit;
  font-weight: 400;
  font-size: 50px;
  line-height: calc(60 / 50);
  text-align: center;
  color: var(--white-color);
}

.wfunction-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

/* advantages section */

.advantages-text {
  line-height: calc(25 / 18);
}
/* section Never worry about wifi again. section */
.img-sec {
  display: block;
}

.features-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.1;
}
.features-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}
.features-link {
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
}
/* ---------------------------------------------- */
/*TrueMesh system*/
.truemesh {
  background-color: #161f49;
  color: #ffffff;
  font-size: 50px;
  line-height: 1.2;
}

.truemesh-text {
  font-size: 18px;
  line-height: 1.39;
}

.truemesh-button {
  background-color: #2468ff;
  border: none;
  color: #ffffff;
}

/*Find your eero system*/
.slider {
  background-color: var(--grey97-color);
}
.btn-slider {
  color: var(--white-color);
  background-color: var(--grey-color);
  border: none;
  cursor: pointer;
}
.dash-slider {
  background-color: var(--grey-color);
}
.btn-slider:hover,
.btn-slider:focus {
  background-color: var(--persian-green-color);

/* Newspaper-clipping */
.newspaper-clipping {
  background-color: var(--primary-text-color);
}
.newspaper-clipping-article {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(48 / 42);
  text-align: center;
  color: var(--white-color);
}

  /* Turns out, people love great wifi */

.title-turns-out{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: calc(60/50);
  text-align: center;
  margin-bottom: 123px;
}
.section-turns-out-link{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19/14);
  color: var(--grey-color);
  text-transform: uppercase;
}
.section-turns-out-link:hover,
:focus{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: calc(19/13);
  color: var(--blue-color);
  text-transform: uppercase;
}
.section-turns-out-description{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: calc(52/36);
  color: var(--primary-text-color);
}
.section-turns-out-address{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25/18);
  color: var(--dark-grey-color);
}
.section-turns-out-btn{
  background: #2468FF;
  border: 0px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: calc(14/13);
  letter-spacing: 0.11px;
  text-transform: uppercase;  
  color: #FFFFFF;
  padding: 17px 37px 21px 37px ;
}



/* Section goodbye */
.goodbye {
  padding: 111px 0 114px;
  background: url('../images/goodbye.jpg') no-repeat;
}

.goodbye .goodbye-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goodbye h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  max-width: 596px;
}

.goodbye a {
  margin-top: 83px;
  display: block;
  width: 100%;
  max-width: 234px;
  background: var(--blue-color);
  padding: 17px 20px 21px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #FFFFFF;
}